spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:studs}
    username: ${POSTGRES_USER:s408614}
    password: ${POSTGRES_PASSWORD:mCL2Y1wQAwyz3d9G}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.eclipse.persistence.platform.database.PostgreSQLPlatform
    properties:
      eclipselink:
        ddl-generation: create-or-extend-tables
        weaving: static
        logging:
          level: FINE
server:
  port: 43261
